body {
    background-color: rgb(170, 171, 190);
    display: flex;
    flex-wrap: wrap;
}

p {
    border: solid black 2px;
    background-color: aliceblue;
    padding: 5px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    color: rgb(92, 19, 188);
    text-decoration: none;
  }

a:hover {
    color: rgb(196, 23, 40);
}

form {
    margin-right: 100%;
    font-weight: bold;
    font-size: 17px;
}