div {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

body {
    background-color: rgb(13, 13, 14);
}

h1 {
    background-color: rgb(170, 25, 47);
    border: 3px solid rgb(113, 104, 165);
    padding-bottom: 3px;
    padding-top: -3px;
    width: 100%;
    text-align: center;
}

h4 {
    width: 99.5%;
    text-align: right;
    margin-top: -10px;
}

div p {
    text-align: justify;
    margin-right: 100px;
}

div img {
    float: left;
    margin-right: 10px;
    margin-left: 100px;
}
