body {
    background-color: rgb(128, 139, 180);
    color: white;
}

h1 {
    text-align: center;
    background-color: rgb(221, 71, 88);
    border-radius: 100px;
    max-width: 190px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 660px;
    font-family: "Lucida Handwriting";
}

h3 {
    text-align: center;
    background-color: rgb(223, 40, 61);
    border-radius: 12px;
    max-width: 190px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 670px;
    font-family: "Lucida Handwriting";
    animation-name: rainbow;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    align-self: baseline;
}

@keyframes rainbow {
0%{background-color: rgb(223, 40, 61);}
10%{background-color: rgb(231, 136, 72);}
20%{background-color: rgb(227, 195, 53);}
30%{background-color: rgb(97, 214, 102);}
40%{background-color: rgb(90, 181, 255);}
50%{background-color: rgb(71, 102, 203);}
60%{background-color: rgb(47, 32, 208);}
70%{background-color: rgb(112, 31, 170);}
80%{background-color: rgb(184, 83, 212);}
90%{background-color: rgb(226, 7, 234);}
100%{background-color: rgb(223, 40, 61);}
}

div.reasons {
    display: flex;
    flex-wrap: wrap;
}

div.reasons p.reason {
    max-width: 33%;
    border: black solid 2px;
    padding: 10px;
    align-self: baseline;
    font-size: x-large;
    text-align: center;
    background-color: rgb(108, 108, 145);
}

div.reasons img {
    max-width: 240px;
}

div.reasons img.party {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 10px;
}

div.reasons img.straw {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 20px;
}

div.reasons img.me {
    margin-top: -50px;
}

div.reasons img.party:hover {
    transform: scale(130%);
    text-shadow:1px 1px 10px #e60909, 1px 1px 10px #f50707;
}

div.reasons p.smalltext {
    align-self: flex-end;
}